.skeleton:has(> *:empty) {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.skeleton {
  width: 100%;
  /* background: var(--bg); */
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skeleton .header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .img {
  height: 75px;
  width: 75px;
  background: var(--bg-200);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.details span {
  display: block;
  background: var(--bg-200);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.details .name {
  height: 15px;
  width: 100px;
}
.details .about {
  height: 13px;
  width: 150px;
  margin-top: 10px;
}

.description .line {
  background: var(--bg-200);
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.description .line-1 {
  width: calc(100% - 15%);
}
.description .line-3 {
  width: calc(100% - 40%);
}
.skeleton .btns {
  display: flex;
}
.skeleton .btns .btn {
  height: 45px;
  width: 100%;
  background: var(--bg-200);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.btns .btn-1 {
  margin-right: 8px;
}
.btns .btn-2 {
  margin-left: 8px;
}
.header .img::before,
.details span::before,
.description .line::before,
.btns .btn::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--bg-200) 0%,
    rgba(0, 0, 0, 0.07) 20%,
    var(--bg-200) 40%,
    var(--bg-200) 100%
  );
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}
.header .img::before {
  background-size: 650px 600px;
}
.details span::before {
  animation-delay: 0.2s;
}
.btns .btn-2::before {
  animation-delay: 0.22s;
}
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}
